<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>